<!--
  Generated template for the ListBiblioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>listBiblio</ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list inset *ngFor="let maison of listMaison;" >

    <ion-item (click)="expandItem(maison)">
      <ion-icon name="home" item-start></ion-icon>
       {{this.maison.nom}}

      <expandable [expandHeight]="maisonExpandHeight" [expanded]="this.maison.expanded">
        <ion-list inset *ngFor="let biblio of listBiblio;">
          <ion-item (click)="onClickBiblio(this.biblio.id)">
            <ion-icon name="albums" item-start></ion-icon>
            {{this.biblio.nom}}

          </ion-item>
        </ion-list>
      </expandable>

    </ion-item>
  </ion-list>

</ion-content>
